@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .title {
    @apply text-transparent font-serif bg-green-600 bg-clip-text font-bold text-[80px] p-[20px];
  }
  .button-primary {
    @apply px-[15px] py-[10px] w-auto text-center rounded-[10px] bg-black text-white;
  }
  .b {
    @apply border border-black border-solid;
  }
  .tag {
    @apply border border-black/10 border-solid lg:w-[28%] md:w-[33%] w-36 text-center px-2 py-1 text-sm rounded-[10px];
  }
  .logo {
    @apply w-[120px] object-contain;
  }
}
